<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div id="app">
    <ul>
        <li v-for="(person, index) in people">{{index+1}}. {{person.name}} - <b>{{person.age}}</b></li>
    </ul>
    <hr>
    <ol>
        <li v-for="num of 4">{{num}}</li>
    </ol>
    <hr>
    <ul>
        <li v-for="(value, key) in person">{{key}} {{value}}</li>
    </ul>
    
</div>


<body>




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
  el: '#app',
  data: {
    people:[
        {name:'vlad', age: 22},
        {name:'max', age: 23},
        {name:'elena', age: 24}
    ],
    person:{
        name: 'max',
        age: 32,
        job: 'Frontend'
    }
  }
})

</script>
